@model MvcKnockoutCalendar.Models.TaskDetail

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Details)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Details)
    @Html.ValidationMessageFor(model => model.Details)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Starts)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Starts)
    @Html.ValidationMessageFor(model => model.Starts)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Ends)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Ends)
    @Html.ValidationMessageFor(model => model.Ends)
</div>

<div class="editor-label">
    ParentTask
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ParentTaskId, ((IEnumerable<MvcKnockoutCalendar.Models.TaskDay>)ViewBag.PossibleParentTasks).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.ParentTaskId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.ParentTaskId)
</div>
