@model MvcKnockoutCalendar.Models.TaskDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TaskDetail</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Details</div>
    <div class="display-field">@Model.Details</div>

    <div class="display-label">Starts</div>
    <div class="display-field">@String.Format("{0:g}", Model.Starts)</div>

    <div class="display-label">Ends</div>
    <div class="display-field">@String.Format("{0:g}", Model.Ends)</div>

    <div class="display-label">ParentTask</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ParentTask).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


